<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <servlet>
    <servlet-name>Tweet</servlet-name>
    <servlet-class>com.appspot.guguruchan.TweetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Refollow</servlet-name>
    <servlet-class>com.appspot.guguruchan.RefollowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Unfollow</servlet-name>
    <servlet-class>com.appspot.guguruchan.UnfollowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Gather</servlet-name>
    <servlet-class>com.appspot.guguruchan.GatherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tweet</servlet-name>
    <url-pattern>/cron/tweet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Refollow</servlet-name>
    <url-pattern>/cron/refollow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Unfollow</servlet-name>
    <url-pattern>/cron/unfollow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gather</servlet-name>
    <url-pattern>/cron/gather</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/cron/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
